.chat-main
  .main-header
    .main-header-left
      .main-header-left-name
        = @group.name
      .main-header-left-member
        - @group.users.each do |user|
          = user.name
    .main-header-right
      = link_to edit_group_path(@group) do
        .edit-btn
          Edit 
  .messages
    = render @messages
  .main-footer
    .new_message
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text',placeholder: 'type a message' #メッセージ入れるところ
          = f.label :image, class: 'input-box__image' do
            = icon('fa', 'image', class: 'icon') #FontAwesomeのところ
            = f.file_field :image,type: 'file',id: 'message_image',class: 'input-box__image__file' #FontAwesomeクリックすると写真選べるところ
          = f.submit :content, class: 'send-btn',type: 'submit',value: 'Send' #ボタンのところ