.chat-side
  .side-header
    .side-header-box
      .side-header-box__name
        = current_user.name
      .side-header-box__icons
        = link_to new_group_path do
          = icon('fa','edit')
        = link_to edit_user_path(current_user.id) do
          = icon('fa','cog')
  .groups
    - current_user.groups.each do |group|
      .groups-box
        = link_to group_messages_path(group) do
          .groups-box-name
            = group.name
          .groups-box-message
            = group.show_last_message